{% extends "layout.html" %}
{% block body %}
<style>
    /* CSS untuk menyesuaikan tampilan navbar */
    .neader {
        border-radius: 15px; /* Menambahkan lengkungan pada sudut */
        transition: background-color 0.3s; /* Transisi untuk efek hover */
    }

    .neader:hover {
        background-color: #2c4ab8; /* Warna latar belakang berubah saat dihover */
    }

    /* CSS untuk animasi tombol navbar */
    .btn-primary {
        transition: transform 0.2s ease; /* Transisi untuk efek transform */
    }

    .btn-primary:hover {
        transform: scale(1.1); /* Memperbesar tombol saat dihover */
    }

    .input-gambar {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    justify-content: center;
    }

</style>

<div class="neader" style="height: 120px; background-color: #305fe8; border-radius: 0;">
    <!-- <img src="{{ url_for('static', filename='images/blob.svg') }}" alt="" class="img-fluid blob"> -->
</div>


<div class="text-center mt-4 pt-4" style="color: black;">
    <div class="container px-0">
        <div class="row">
            <!-- Kolom Kanan -->
            <div class="col-md-8 order-md-2">
                <center>
                    <!-- Sembunyikan tombol asli -->
                    <form id="uploadForm" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" style="display: none;">
                        <input type="file" name="file" id="fileInput" accept="image/*">
                    </form>
                    <!-- Tambahkan tombol kustom -->
                    <button onclick="uploadImage()" class="btn btn-primary">Upload Gambar</button>
                </center>
                
                <script>
                    function uploadImage() {
                        // Ambil input file
                        var fileInput = document.getElementById("fileInput");
                        // Klik input file secara otomatis
                        fileInput.click();
                
                        // Saat formulir di-submit, halaman akan direfresh
                        fileInput.addEventListener("change", function() {
                            // Submit formulir
                            document.getElementById("uploadForm").submit();
                        });
                    }
                </script>
                
                <br><br>
                <div class="row">
                    <div class="col-lg-12">
                        <img class="img-fluid" src="{{ url_for('static', filename=file_path) }}" alt="Gambar Belum di Upload">
                    </div>
                    {% if num_object is defined and request.path == '/count_white_objects' %}
                    <div class="col-12 mt-4">
                        <h6 style="font-weight: bold;">Jumlah Object : {{ num_object }}</h6>
                    </div>
                    {% endif %}

                    {% if num_object is defined and request.path == '/identifikasi_number' %}
                    <div class="col-12 mt-4">
                        <h6 style="font-weight: bold;">Number yang teridentifikasi : {{ num_object }}</h6>
                    </div>
                    {% endif %}

                    {% if num_object is defined and request.path == '/deteksi_emoji' %}
                    <div class="col-12 mt-4">
                        <h6 style="font-weight: bold;">Emoji yang dideteksi : {{ num_object }}</h6>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Kolom Kiri -->
            <div class="col-md-4 order-md-1" style="max-height: 80vh; overflow-y: auto; padding-right: 30px;">
                <h3 style="font-weight: bold;">Menu</h3>
                <div class="collapse d-md-block" id="color">
                    <hr>
                    <h5>Normal</h5>
                    <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 bd-highlight">
                            <form id="" action="{{ url_for('normal') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Normal</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('grayscale') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Grayscale</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 bd-highlight">
                            <form id="" action="{{ url_for('zoomin') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Zoom In</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('zoomout') }}" method="POST" enctype="multipart/form-data">
                            <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Zoom Out</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <h5>Pergeseran</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_left') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Kiri</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_right') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Kanan</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_up') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Atas</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('move_down') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Geser Bawah</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Penerangan</h5>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_multiplication') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Terang (*)</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_division') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Gelap (/)</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_addition') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Terang (+)</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('brightness_substraction') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Gelap (-)</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Analisis Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('histogram_rgb') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Histogram</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Pemrosesan Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('histogram_equalizer') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Histogram Equalizer</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Filter Gambar</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('edge_detection') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Edge Detection</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('blur') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Blur</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('sharpening') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Sharpening</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr/>
                <h5>Segmentation</h5>
                <form id="" action="{{ url_for('thresholding') }}" method="POST" enctype="multipart/form-data" >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mt-2 flex-fill bd-highlight">
                                <h6>Batas Bawah</h6>
                                <input type="number" name="lower_thres" placeholder="0-255" style="width: 100%;">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-2 flex-fill bd-highlight">
                                <h6>Batas Atas</h6>
                                <input type="number" name="upper_thres" placeholder="0-255" style="width: 100%;">                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mt-2 flex-fill bd-highlight">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Thresholding</button>
                            </div>
                        </div>
                    </div>
                </form>
                <hr/>
                <h5>Operasi Morfologi</h5>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('dilasi') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Dilasi</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('erosi') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">erosi</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('opening') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">opening</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('closing') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">closing</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('count_white_objects') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Count Object</button>
                            </form>
                        </div>
                    </div>

                </div>
                <hr/>
                <h5>Identifikasi Number Citra</h5>
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="mt-2 flex-fill bd-highlight">
                                <form id="" action="{{ url_for('training_data') }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Training Data</button>
                                </form>
                            </div>
                        </div>
                        <div class="mt-2 flex-fill bd-highlight">
                            <form id="" action="{{ url_for('indent_citra') }}" method="POST" enctype="multipart/form-data">
                                <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Identifikasi Number</button>
                            </form>
                        </div>
                    </div>
                

                </div>

                <h5>Identifikasi Emoji</h5>
                <div class="row">
                    <div class="col-md-12">

                        <div class="col-md-12">
                            <div class="mt-2 flex-fill bd-highlight">
                                <form id="" action="{{ url_for('deteksi_emoji') }}" method="POST" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-primary btn-block" style="width: 100%;">Deteksi Emoji</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('inputGroupFile04').addEventListener('change', function() {
        var fileInput = this;
        var uploadButtonWrapper = document.getElementById('uploadButtonWrapper');

        if (fileInput.files.length > 0) {
            // Hide the upload button wrapper
            uploadButtonWrapper.style.display = 'none';
        }
    });
</script>
{% endblock %}
